.About {
  padding-left: 40px;
  padding-block: 80px;
  padding-right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;

  strong {
    font-weight: 600;
    color: var(--color-pink);
  }

  .name,
  .surname,
  .skills,
  .courses {
    font-size: 30px;
    span {
      color: var(--color-pink);
    }
  }

  .courses {
    color: var(--color-pink);
    font-weight: 600;
  }

  .surname {
    margin-bottom: 0px;
  }

  .email,
  .cvDownload {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    strong {
      display: flex;
      align-items: center;
      margin-right: 5px;
      color: var(--color-pink);
    }
  }

  .cvDownload {
    margin-bottom: 20px;
  }

  .fromButton {
    color: white;
    padding: 5px;
    border-radius: 5px;
    animation: highlightEmail 1s ease 3;
  }

  .bio {
    width: 76%;
    margin-bottom: 0px;
    margin-top: 30px;
    strong {
      color: var(--color-pink);
    }
  }

  p,
  a {
    font-size: 24px;
  }

  .skill {
    width: 200px;
    position: relative;
    margin-bottom: 10px;
    font-size: 26px;
  }

  .skill::before,
  .skill::after {
    display: table;
    content: "";
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
    height: 5px;
    position: absolute;
  }

  .skill::before {
    background-color: white;
    width: 100%;
  }

  .skill::after {
    transition: width 0.3s ease;
    width: 0;
    animation: grow 1.5s ease forwards;
    background-color: var(--color-pink);
  }

  .uni,
  .degree,
  .course {
    width: 76%;
    margin-bottom: 10px;
    strong {
      color: var(--color-pink);
    }
  }

  .uni {
    margin-top: 30px;
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: var(--skills-rating);
  }
}

@keyframes highlightEmail {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: var(--color-pink);
  }
}

/* .letterHolder {
    height: 40px;
     width: 200px
    display: flex;
    gap: 4px;
    overflow: hidden;
  }
  
  .letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    gap: 4px;
    transform: translateY(var(--transformValue));
    color: white;
    padding: 2px;
    transition: all 4s ease;
    transition-delay: 4s;
  } */
@media (max-width: 720px) {
  .About {
    padding-top: unset;
    padding: unset;
    padding-block: unset;
    height: unset;
    padding: 20px;
    .name,
    .surname,
    strong,
    .email,
    .cvDownload,
    .skill,
    .skills,
    .courses,
    .course {
      font-size: 24px;
    }
  }
}

@media (max-width: 610px) {
  .About {
    .bio,
    .name,
    .surname,
    .uni,
    .degree,
    .course {
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .About {
    .skill {
      width: 150px;
    }
    .bio,
    .courses,
    .uni,
    .degree,
    a,
    .email {
      font-size: 22px;
    }
  }
}

@media (max-width: 380px) {
  .About {
    .bio,
    .courses,
    .uni,
    .degree,
    a,
    .email {
      font-size: 20px;
    }
    .skill {
      font-size: 22px;
      width: 130px;
    }
  }
}
