.Project {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  padding: 0 40px;
  padding-top: 40px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 40px;
  h3 {
    font-size: 40px;
  }
}

.projectsHolder {
  display: grid;
  place-content: center;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 450px)); */
  /* grid-template-columns: repeat(3, minmax(350px, 450px)); */
  grid-template-columns: repeat(auto-fill, minmax(20vmax, 25vmax));
  grid-template-rows: auto;
  gap: 20px;
}
