.Logo {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
  .letterE {
    font-size: 120px;
    font-family: monospace;
    color: var(--color-aqua);
    transform: translateX(-5px);
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .letterE:hover {
    animation: heartbeat1 1.5s ease infinite;
  }

  .letterE::after {
    content: "E";
    color: var(--color-pink);
    top: 4px;
    position: absolute;
    left: 5px;
    height: 100%;
    width: 100%;
  }
  .letterE::before {
    content: "E";
    transition: transform 0.2s ease;
    color: var(--color-pink);
    top: 4px;
    position: absolute;
    left: 5px;
    height: 100%;
    filter: blur(2px);
    width: 100%;
  }

  .letterE:hover::before {
    /* animation: heartbeat 1.5s ease infinite; */
    /* transform-origin: center; */
    /* transform: scale(1.05); */
  }

  .name {
    font-family: monospace;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
  }

  .profession {
    font-family: monospace;
    font-size: 16px;
  }
}

@keyframes heartbeat1 {
  from,
  to {
    transform: translateX(-5px) scale(1);
  }

  50% {
    transform: translateX(-5px) scale(1.05);
  }
}

@media (max-width: 980px) {
  .Logo {
    padding: 10px;
    height: 100%;
    .letterE {
      font-size: 40px;
    }
    .name,
    .profession {
      display: none;
    }
  }
}
