.Navigation {
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  li {
    width: max-content;
    display: flex;
    justify-content: center;
  }

  a {
    width: 100%;
    padding: 10px 0px;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 0.8;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    span {
      position: relative;
    }

    span:nth-child(even) {
      z-index: 5;
    }
    span:nth-child(odd) {
      z-index: 10;
    }
  }

  a .line,
  a .lineAqua {
    height: 3px;
    top: 50%;
    left: -4px;
    position: absolute;
    display: block;
    background-color: var(--color-pink);
    width: 100%;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
    z-index: 7;
  }
  a .lineAqua {
    background-color: var(--color-aqua);
    transition-delay: 0.1s;
    z-index: 6;
    top: 50%;
  }

  a[aria-current="page"] .line,
  a[aria-current="page"] .lineAqua,
  a:hover .lineAqua,
  a:hover .line {
    transform: scaleX(1);
    transform-origin: left;
  }

  a[aria-current="page"] .lineAqua,
  a:hover .lineAqua {
    transition-delay: 0s;
  }
  a[aria-current="page"] .line,
  a:hover .line {
    transition-delay: 0.1s;
  }
}
