.Navigation {
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  li {
    width: max-content;
    display: flex;
    justify-content: center;
  }

  a {
    width: 100%;
    padding: 10px 0px;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 0.8;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    span {
      position: relative;
    }

    span:nth-child(even) {
      z-index: 5;
    }
    span:nth-child(odd) {
      z-index: 10;
    }
  }

  a .line,
  a .lineAqua {
    height: 4px;
    top: 50%;
    left: -4px;
    position: absolute;
    display: block;
    background-color: var(--color-pink);
    width: 100%;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
    z-index: 7;
  }
  a .lineAqua {
    background-color: var(--color-aqua);
    transition-delay: 0.1s;
    z-index: 6;
    top: 50%;
  }

  a[aria-current="page"] .line,
  a[aria-current="page"] .lineAqua,
  a:hover .lineAqua,
  a:hover .line {
    transform: scaleX(1);
    transform-origin: left;
  }

  a[aria-current="page"] .lineAqua,
  a:hover .lineAqua {
    transition-delay: 0s;
  }
  a[aria-current="page"] .line,
  a:hover .line {
    transition-delay: 0.1s;
  }
}
@media (max-width: 980px) {
  .Navigation {
    height: auto;
    width: auto;
    ul {
      flex-direction: row;
      gap: 10px;
    }

    a {
      font-size: 26px;
    }
  }
}

@media (max-width: 610px) {
  .Navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-gray-500);
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    display: flex;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    a {
      font-size: 40px;
    }
  }

  .showNavigation {
    transform: translateX(0);
  }
}
