.SingleProject {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
  height: auto;
  text-align: start;
  position: relative;
  transform: translateX(100%);
  opacity: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.photoShower {
  width: 100%;
  background-color: rgba(40, 40, 40);
  aspect-ratio: 16/10;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
}

.background {
  position: absolute;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 5px,
    rgba(255, 255, 255, 0.4) 5px,
    rgba(255, 255, 255, 0.4) 10px,
    transparent 10px,
    transparent 12px,
    rgba(255, 255, 255, 0.4) 12px,
    rgba(255, 255, 255, 0.4) 16px,
    transparent 16px,
    transparent 19px,
    rgba(255, 255, 255, 0.4) 19px,
    rgba(255, 255, 255, 0.4) 22px
  );
  background-size: 22px 100%;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation: stripes 1s ease forwards;
}

.spinner {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  font-size: 10vmin;
  background-color: var(--color-gray-500);
  color: var(--color-pink);
  z-index: 200;
  svg {
    animation: spin 2s linear infinite;
  }
}

.fadeAway {
  animation: fadeAway 0.3s ease forwards;
  pointer-events: none;
}

.title {
  font-size: 20px;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.title span {
  transition: color 0.3s ease;
}

.title span:hover {
  color: var(--color-pink-dark);
}

.description {
  font-size: 18px;
}

.chipHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@keyframes stripes {
  from {
    background-position: 0% 0%;
    opacity: 1;
    scale: 1;
  }
  to {
    background-position: 100% -100%;
    opacity: 0;
    scale: 4;
  }
}

@media (max-width: 980px) {
  .SingleProject {
    width: 100%;
    padding: 0;
    aspect-ratio: unset;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeAway {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
