.SingleProject {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;
  text-align: start;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.photoShower {
  width: 100%;
  background-color: rgba(40, 40, 40);
  aspect-ratio: 16/10;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
}

.background {
  position: absolute;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 5px,
    rgba(255, 255, 255, 0.2) 5px,
    rgba(255, 255, 255, 0.2) 10px,
    transparent 10px,
    transparent 12px,
    rgba(255, 255, 255, 0.2) 12px,
    rgba(255, 255, 255, 0.2) 16px,
    transparent 16px,
    transparent 19px,
    rgba(255, 255, 255, 0.2) 19px,
    rgba(255, 255, 255, 0.2) 22px
  );
  background-size: 22px 100%;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation: stripes 1s ease forwards;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
}

.description {
  font-size: 18px;
}

.chipHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@keyframes stripes {
  from {
    background-position: 0% 0%;
    opacity: 1;
    scale: 1;
  }
  to {
    background-position: 100% -100%;
    opacity: 0;
    scale: 4;
  }
}
