.Socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: var(--color-white);
  a {
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--color-pink-dark);
  }
}

@media (max-width: 980px) {
  .Socials {
    display: none;
  }
}
