.Header {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-right: 1px solid white;
  padding-bottom: 80px;
  overflow-x: hidden;
}

.toggleNav {
  display: none;
}

.action {
  position: absolute;
  top: 50%;
  right: 0;
  display: table;
  place-content: center;
  width: 20px;
  aspect-ratio: 1/1;
  transform: translateX(100%);
  font-size: 24px;
  z-index: 2;
  transition: transform 0.2s ease;
}

.action:hover {
  cursor: pointer;
  transform: translateX(100%) scale(1.5);
  transform-origin: center;
}

.leftClicked {
  transform: translateX(0);
  opacity: 0;
}

.rightClicked {
  transform: translateX(0);
  opacity: 0;
}
@media (max-width: 980px) {
  .Header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    flex: unset;
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 0;
    align-items: center;
    height: 60px;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--color-gray-500);
  }
}

@media (max-width: 610px) {
  .toggleNav {
    padding: 5px;
    display: grid;
    place-content: center;
    width: 40px;
    aspect-ratio: 1/1;
    z-index: 1002;
    position: relative;
    margin-right: 0px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease;
  }

  .toggleNavActive {
    transform: rotateY(180deg);
  }
}
