.Layout {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  .main {
    flex: 5;
    position: relative;
  }

  /* .main::before {
    display: table;
    width: 200px;
    height: 50px;
    content: "<body>";
    top: 0;
    left: 0;
    position: absolute;
  } */
}

.pulse {
  display: block;
  width: 10px;
  height: 10px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: red;
  position: relative;
}

.live {
  position: absolute;
  top: 20px;
  font-family: inherit;
  font-size: 20px;
  letter-spacing: 1px;
  right: 24px;
  color: white;

  width: 130px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.pulse::after {
  content: "";
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: var(--color-pink);
  animation: pulsate 2s ease infinite;
}

.blob {
  position: absolute;
  border-radius: 100%;
  width: 13vmax;
  aspect-ratio: 1;
  background: linear-gradient(to right, var(--color-aqua), var(--color-pink));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  filter: blur(100px);
  z-index: -1;
  animation: rotate 20s infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  20%,
  60% {
    scale: 1 1.5;
  }
  40%,
  80% {
    scale: 1.5 1;
  }

  to {
    rotate: 360deg;
  }
}

@media (max-width: 1290px) {
  .Layout {
    .main {
      flex: 3.5;
    }
  }
}

@media (max-width: 980px) {
  .Layout {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    .main {
      flex: unset;
      min-height: calc(100vh - 60px);
      display: flex;
      align-items: center;
      z-index: 2;
      overflow-x: hidden;
    }
  }
  .blob {
    display: none;
  }
}
